* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

:root {
 --color-primario:#4d82bc ;
 --color-secundario: #005187;
 --color-acento: #84b6f4;
 --color-fondo: #fcffff;
 --color-texto: #1A1A1A;
 font-family: 'Poppins', sans-serif;
}

body {
 font-family: var(--font-family); 
 font-size: 16px;
 line-height: 1.5;
 color: var(--color-texto);
 background-color: var(--color-fondo);
 max-width: 1100px;
 margin: 0 auto;
 padding: 0 1rem;
}
/* victoria: sugerir cambios */
header {
    background-color: var(--color-primario);
    padding: 25px;
    margin-bottom: 18px;
    border-radius: 0 0 10px 10px;
}
header img{
    width: 50px;
    
}
/*nav*/
nav {
    display: flex;  
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin-left: 20px;
}
nav a { 
    text-decoration: none;
    color: var(--color-fondo);
}
nav a:hover {
   text-decoration: none;
   color: var(--color-texto);
}
/*footer*/
footer {
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}

footer a{
    color: var(--color-texto);
    text-decoration: none;
}
footer a:hover{
    color: var(--color-acento);
}
/**/
/*titulos*/
h1 {
    color: var(--color-secundario);
    margin-bottom: 10px;
}

h2 {
    color: var(--color-secundario);
}

h3 {
    color: var(--color-primario);
}
/**/
/*section*/
section {
    margin-bottom: 30px;
}

p {
    margin-bottom: 12px;
}
section ul {
    padding-left: 20px;
}
/**/
/*tabka*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
}
/**/